.container {
    display: flex;
    height: 100vh;
    background-color: #1D1C1C;
}

.inscription {
    display: flex;
    align-items: center;
    gap: 100px;
    border-radius: 32px;
    background: var(--background, #1D1C1C);
}

.frame {
    display: flex;
    width: 720px;
    height: 1024px;
    padding: 12px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
}