@import "../../app/assets/styles/Variables.css";

.btn {
    display: flex;
    padding: var(--size-14);
    justify-content: center;
    align-items: center;
    gap: var(--size-8);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: var(--white-100);
    font-size: 1rem;
    font-weight: var(--font-w-700);
}

.btnFull {
    border-radius: var(--size-4);
}

.btnRound {
    border-radius: var(--size-32);
}

.primary {
    background: var(--orange-100);
}

.primary:hover {
    background: var(--white-100);
    color: var(--orange-100);
}

.secondary {
    background: var(--grey-50);
}

.secondary:hover {
    background: var(--white-100);
}