header {
  margin: auto;
  max-width: 80rem;
  width: calc(100% - 32px);
  position: sticky;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--size-16) var(--size-30);
  border-radius: var(--size-75);
  background: var(--white-20);
  backdrop-filter: blur(2px);
  color: var(--white-100);
}
header div {
  display: flex;
  gap: 8px;
}
header > p {
  color: var(--white-100);
  font-family: "Geologica";
  font-size: var(--font-s-h3);
  font-weight: 700;
  margin: 0;
}
