@import "Reset.css";
@import "Variables.css";

body {
  font-size: var(--font-s-body);
  font-family: var(--font-corps);
  background-color: var(--black-100);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--white-100);
}

h1 {
  font-size: var(--font-s-h1);
}

h2 {
  font-size: var(--font-s-h2);
}

h3 {
  font-size: var(--font-s-h3);
}

h4 {
  font-size: var(--font-s-h4);
}

h5 {
  font-size: var(--font-s-h5);
}

h6 {
  font-size: var(--font-s-h6);
}

.eclipse {
  width: 700px;
  height: 1075.77px;
  transform: rotate(75.387deg);
  position: absolute;
  z-index: -1;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--size-50-pct);
  background: linear-gradient(180deg, rgba(246, 76, 2, 0.25) 0%, rgba(246, 76, 2, 0.25) 100%);
  filter: blur(200px);
}

.mainWrapper {
  height: calc(100vh - 150px);
}