@import "reset.css";
@import "variables.css";

body {
  font-size: var(--font-s-body);
  font-family: var(--font-corps);
  background-color: var(--black-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: var(--font-s-h1);
}

h2 {
  font-size: var(--font-s-h2);
}

h3 {
  font-size: var(--font-s-h3);
}

h4 {
  font-size: var(--font-s-h4);
}

h5 {
  font-size: var(--font-s-h5);
}

h6 {
  font-size: var(--font-s-h6);
}
.button-ro {
  padding: 16px 24px;
  border: 0;
  border-radius: 25px;
  font-family: "Geologica";
  color: var(--clr-text);
  font-weight: 700;
  background-color: var(--clr-orange);
}
.button-ro.primary {
  background-color: var(--orange-100);
}
.button-ro.secondary {
  background-color: var(--grey-50);
}
