@import "reset.css";
@import "variables.css";

body {
  font-size: var(--font-s-body);
  font-family: var(--font-corps);
  background-color: var(--black-100);
}
main {
  min-height: calc(100vh - 125px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: var(--font-s-h1);
}

h2 {
  font-size: var(--font-s-h2);
}

h3 {
  font-size: var(--font-s-h3);
}

h4 {
  font-size: var(--font-s-h4);
}

h5 {
  font-size: var(--font-s-h5);
}

h6 {
  font-size: var(--font-s-h6);
}

.btn-round {
  border: 0;
  padding: var(--size-12) var(--size-22);
  border-radius: var(--size-32);
  color: var(--white-100);
  font-weight: var(--font-w-700);
}
.primary {
  background: var(--orange-100);
}
.secondary {
  background: var(--grey-50);
}
