.header {
  position: sticky;
  top: var(--size-20);
  max-width: calc(100% - var(--size-32));
  height: 5rem;
  width: var(--size-1280);
  width: 100%;
  margin: 0 auto;
  background: var(--white-10);
  border-radius: var(--size-75);
  padding: var(--size-16) var(--size-30);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-w-700);
  font-family: var(--font-title);
  color: var(--white-100);
  z-index: 99;
  backdrop-filter: var(--blur);
}

.header span {
  font-size: var(--size-32);
  position: absolute;
  text-align: center;
  left: var(--size-50-pct);
  right: var(--size-50-pct);
  transform: translate(-50%, -50%);
}

.header img {
  width: var(--size-60);
}

.headerButton {
  display: flex;
  gap: var(--size-12);
}

@media (max-width: 1440px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .header {
    top: var(--size-32);
  }

  .header p {
    display: none;
  }
}

@media (max-width: 568px) {
  .header img {
    width: var(--size-32);
  }

  .header .btn-round {
    font-size: var(--size-12);
    padding: var(--size-8) var(--size-12);
  }
}