.footer {
  width: var(--size-1280);
  max-width: calc(100% - 32px);
  margin: 0 auto;
  color: var(--white-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--size-16);
  padding: var(--size-16);
}

.footer>p {
  font-size: var(--size-12);
}

.footer ul {
  display: flex;
  gap: var(--size-10);
}

.footer ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer ul li:not(:last-child):after {
  content: "";
  background-color: var(--white-10);
  display: inline-block;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: var(--size-24);
    font-size: var(--size-12);
  }
}