.dashboard {
  padding: 5.3125rem 0 0 0;
  margin: auto;
  max-width: calc(100% - 32px);
  width: var(--size-1280);
  display: flex;
  gap: 3.125rem;
}

.dashboard .colored {
  color: var(--orange-100);
}

.dashboard>div {
  display: flex;
  gap: 3.125rem;
  flex-direction: column;
}

.dashboard>div>div {
  background-color: var(--white-10);
  padding: var(--size-24);
  border-radius: var(--size-8);
  color: var(--white-100);
}

.dashboard>.left {
  width: 70%;
}

.dashboard>.left>.top {
  padding: 0;
  background-color: transparent;
}

.dashboard>.left>.top p {
  color: var(--grey-100);
  font-size: var(--size-12);
  font-weight: var(--font-w-400);
  margin: 16px 0 0 0;
}